In [1]:
import pandas as pd

In [2]:
train_df = pd.read_csv("../data/raw/train.csv")
train_df.head()

,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count
0,0,25,3-season skirt!,"Adorable, well-made skirt! lined and very slim...",5,1,4
1,0,39,Very cute,Love the asymmetrical hem. waist fit snugly as...,5,1,0
2,0,42,Beautiful! fruns small for typical retailer si...,I love this skirt! i wasn't sure about the mix...,5,1,5
3,0,45,NaN,I was really pleased with this skirt. the ligh...,5,1,9
4,0,57,"Unique, pretty asymmetric skirt",I saw this skirt in retailer several months ag...,5,1,1

In [3]:
test_df = pd.read_csv("../data/raw/test.csv")
test_df.head()

,Clothing ID,Age,Title,Review Text,Positive Feedback Count
0,0,32,So happy i bought this skirt!,"I love this skirt. it does run a little small,...",0
1,0,34,Runs small,"Beautiful patterns and colors, but it sits ver...",0
2,0,37,Love the comfort of thi skirt,It is easily paired with a nice tip for work a...,0
3,0,39,Way too small,"This is a beautiful skirt, but runs very small...",10
4,0,39,NaN,I usually wear a size 8/10 and i needed a larg...,0

In [4]:
clothing_master_df = pd.read_csv("../data/raw/clothing_master.csv")
clothing_master_df.head()

   Clothing ID Division Name Department Name Class Name
0            0       General         Bottoms     Skirts
1            1       General         Bottoms      Pants
2            2       General            Tops   Sweaters
3            3       General         Dresses    Dresses
4            4       General         Dresses    Dresses

In [5]:
processed_df = pd.merge(train_df, clothing_master_df, on="Clothing ID", how="left")
processed_df.head()

,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name
0,0,25,3-season skirt!,"Adorable, well-made skirt! lined and very slim...",5,1,4,General,Bottoms,Skirts
1,0,39,Very cute,Love the asymmetrical hem. waist fit snugly as...,5,1,0,General,Bottoms,Skirts
2,0,42,Beautiful! fruns small for typical retailer si...,I love this skirt! i wasn't sure about the mix...,5,1,5,General,Bottoms,Skirts
3,0,45,NaN,I was really pleased with this skirt. the ligh...,5,1,9,General,Bottoms,Skirts
4,0,57,"Unique, pretty asymmetric skirt",I saw this skirt in retailer several months ag...,5,1,1,General,Bottoms,Skirts

In [6]:
processed_df.isnull().sum()

Clothing ID                   0
Age                           0
Title                      1575
Review Text                1280
Rating                        0
Recommended IND               0
Positive Feedback Count       0
Division Name                 0
Department Name               0
Class Name                    0
dtype: int64

In [7]:
processed_df["text"] = "title: " + processed_df["Title"].fillna("none") + " [SEP] " + "review: " + processed_df["Review Text"].fillna("none")
processed_df.drop(["Title", "Review Text"], axis=1, inplace=True)
processed_df.head()

,Clothing ID,Age,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name,text
0,0,25,5,1,4,General,Bottoms,Skirts,"title: 3-season skirt! [SEP] review: Adorable,..."
1,0,39,5,1,0,General,Bottoms,Skirts,title: Very cute [SEP] review: Love the asymme...
2,0,42,5,1,5,General,Bottoms,Skirts,title: Beautiful! fruns small for typical reta...
3,0,45,5,1,9,General,Bottoms,Skirts,title: none [SEP] review: I was really pleased...
4,0,57,5,1,1,General,Bottoms,Skirts,"title: Unique, pretty asymmetric skirt [SEP] r..."